# Created by .ignore support plugin (hsz.mobi)

### JetBrains Files
.iml
.idea
.idea/

# Distribution / packaging
*.egg-info/

# Logins and Passwords used for testing
passwords.py

# Pycache
__pycache__
build/
