### JetBrains Directory based format template
# Covers all JetBrains IDEs
.idea/

# If you comment the above exclude the below
# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## Plugin-specific files:
# IntelliJ
/out/

# Python specific
*.egg-info/

# Files with credentials
passwords.py

# Caches
__pycache__/
*/__pycache__/
build/

# Rope stuff
.ropeproject/




